In [1]:
import pandas as pd
import geopandas as gpd
from Neighborhood_Analysis_Mapper import Clustering_viz
from Neighborhood_Analysis_Mapper import Clustering_log

/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/geosnap/_data.py:66: UserWarning: The geosnap data storage class is provided for convenience only. The geosnap developers make no promises regarding data quality, consistency, or availability, nor are they responsible for any use/misuse of the data. The end-user is responsible for any and all analyses or applications created with the package.
  warn(
/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/geosnap/_data.py:66: UserWarning: The geosnap data storage class is provided for convenience only. The geosnap developers make no promises regarding data quality, consistency, or availability, nor are they responsible for any use/misuse of the data. The end-user is responsible for any and all analyses or applications created with the package.
  warn(

## Harris County, Houston

In [2]:
input_attributes_harris = pd.read_csv("attributes/LTDB_1970~2019_Houston_26420_nan.csv")  #LTDB_selected_year1970~2019_msa12380, LTDB_selected_year1970~2019_msa17980
#input_attributes_harris = pd.read_csv("attributes/LTDB_1970~2019_Harris_48201_Standardized.csv")  #LTDB_selected_year1970~2019_msa12380, LTDB_selected_year1970~2019_msa17980
input_attributes_harris

,geoid,"% white, non-Hispanic","% black, non-Hispanic",% Hispanic,% Native American race,% Asian and Pacific Islander race,% Hawaiian race,% Indian birth/race,% Chinese birth/race,% Filipino birth/race,...,Median rent,% structures more than 30 years old,% HH in neighborhood 10 years or less,"% 17 and under, total","% 60 and older, total","% 75 and older, total","% currently married, not separated","% widowed, divorced and separated",% female-headed families with children,year
0,48015760100,72.861623,15.628335,10.454076,0.422386,6.240000e-07,0.000000,1.250000e-07,0.000000,3.120000e-07,...,120.999964,49.246208,53.488386,29.936650,20.538535,5.807811,62.482563,15.620640,7.858558,1980
1,48015760200,65.643850,23.760818,10.149489,0.104904,2.622607e-02,0.000000,0.000000e+00,0.000000,0.000000e+00,...,132.999999,34.281843,60.110585,31.602413,18.935222,7.028586,60.816039,16.250440,10.427011,1980
2,48015760300,91.608242,1.372590,6.481295,0.403399,8.068859e-02,0.000000,8.068373e-02,0.000000,0.000000e+00,...,193.990964,30.083959,63.242237,29.585124,19.716313,6.428525,68.556156,14.402578,4.044282,1980
3,48015760400,90.352611,8.755470,0.770310,0.040538,8.106841e-02,0.000000,4.053377e-02,0.000000,0.000000e+00,...,92.001065,44.529322,48.340804,23.956266,31.495489,9.241942,68.606884,12.288632,2.580607,1980
4,48015760501,78.385327,18.769284,2.468289,0.205691,1.371272e-01,0.017141,0.000000e+00,0.068564,0.000000e+00,...,139.999996,36.989892,54.883514,25.882757,27.802538,10.078848,63.068549,18.389553,8.082027,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7479,48473680200,28.509480,17.829770,52.016942,0.110932,5.748286e-01,0.000000,0.000000e+00,0.171440,1.714401e-01,...,685.000000,56.001162,47.549020,24.213393,24.213393,3.832190,41.740211,17.476694,10.768453,2019
7480,48473680300,42.476710,29.330949,26.545591,0.000000,7.245695e-01,0.000000,0.000000e+00,0.404630,4.046297e-01,...,782.000000,55.621162,54.550675,25.708102,25.708102,6.041216,42.287203,18.231325,13.804437,2019
7481,48473680400,0.765054,91.732478,5.306022,0.123396,9.378085e-01,0.000000,0.000000e+00,0.000000,0.000000e+00,...,NaN,NaN,NaN,1.011846,1.011846,0.000000,0.000000,0.468904,NaN,2019
7482,48473680500,32.509260,33.008872,32.664312,0.275648,4.909984e-01,0.000000,0.000000e+00,0.335946,0.000000e+00,...,644.000000,44.957304,57.994987,29.614954,29.614954,3.445603,51.713948,14.929078,13.549116,2019
7483,48473680600,76.540733,0.635239,22.679149,0.000000,1.448791e-01,0.000000,0.000000e+00,0.144879,0.000000e+00,...,857.000000,32.195448,50.257353,22.879750,22.879750,4.870166,53.385562,20.131505,5.511811,2019

In [3]:
shp_houston = gpd.read_file("shp/Harris_county.shp") #12380, 17980
shp_houston

         GEOID10  name                                           geometry
0    48201532800  5328  POLYGON ((-95.46653 29.87617, -95.46647 29.876...
1    48201532100  5321  POLYGON ((-95.47563 29.84912, -95.47526 29.849...
2    48201531900  5319  POLYGON ((-95.46341 29.85101, -95.46350 29.851...
3    48201533200  5332  POLYGON ((-95.46695 29.86644, -95.46711 29.866...
4    48201531800  5318  POLYGON ((-95.42910 29.85467, -95.42910 29.854...
..           ...   ...                                                ...
781  48201430500  4305  POLYGON ((-95.51115 29.78425, -95.50840 29.784...
782  48201431600  4316  POLYGON ((-95.48228 29.77017, -95.48213 29.770...
783  48201431700  4317  POLYGON ((-95.46518 29.76866, -95.46498 29.768...
784  48201431900  4319  POLYGON ((-95.46072 29.72884, -95.46077 29.728...
785  48201432100  4321  POLYGON ((-95.50937 29.73744, -95.50880 29.737...

[786 rows x 3 columns]

In [15]:

param_Harris = {
	'title': "Longitudinal Neighborhood Change at Census Tract Level, Harris County Houston, TX",
	'SubjectName': "NEIGHBORHOOD",
	'filename_suffix': "Houston_1970-2019_tran",		   
	'inputCSV': "attributes/LTDB_1970~2019_Houston_26420_nan.csv",  #LTDB_1970~2019_Houston_26420_nan  LTDB_1970~2019_Houston_26420
    'standardization': True,
	'shapefile': "shp/Harris_county.shp", 
	'years': [1970, 1980, 1990, 2000, 2010, 2019],		   # Available years: 1970, 1980, 1990, 2000, 2010, 2012, 2019
	'method': "kmeans",						  # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
												 # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
	'nClusters': 6,							  # This option should be commented out for affinity_propagation, hdbscan and max_p 
	'Sequence': {'seq_clusters': 5, 'dist_type': 'tran'},  # hamming, arbitrary, tran
	'variables': [
		"Median home value",
		"% in poverty, total",
         "% unemployed",       
        "% with 4-year college degree or more",  
		"% manufacturing employees",
		"% structures more than 30 years old",
 		"% HH in neighborhood 10 years or less", 
		"% owner-occupied units",
		"% multi-family units",
		"% vacant units",
		"% 60 and older, total",
		"% 17 and under, total",        
        "% white, non-Hispanic",
         "% black, non-Hispanic",         
		"% Hispanic", #
		"% Asian and Pacific Islander race", #
		"% foreign born", #
				 ],
	# optional visualization below.
	'Index_of_neighborhood_change': True,        #choropleth map: Maps representing index of neighborhood Change
	'Qualitative_Maps': True,                    #choropleth map: Maps representing clustering result		
	'Distribution_INC1': False,                   #density chart: INC changes as the map extent changes 
	'Distribution_INC2_different_period': False,  #density chart: INC changes by different years
	'Distribution_INC2_different_cluster': False, #density chart: INC changes by different clusters
	'Stacked_Chart': True,    #stacked chart: Temporal Change in Neighborhoods over years		
	'Parallel_Categories_Diagram': True,
	'Chord_Diagram': True, 
	'HeatmapTitle': "Z Score Means across Different Neighborhood Types",
	'Heatmap': True,
	'Horizontal_Bar_Title': "Z Score Means in Different Neighborhood Types ",
	'HorizonalBarChart': True,  
	}

Clustering_viz(param_Harris)

/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/scipy/cluster/hierarchy.py:834: ClusterWarning: scipy.cluster: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  return linkage(y, method='ward', metric='euclidean')

UnboundLocalError: local variable 'score' referenced before assignment

## Greater Houston

In [5]:
input_attributes_houston = pd.read_csv("attributes/LTDB_1970~2019_Houston_26420.csv")  #LTDB_selected_year1970~2019_msa12380, LTDB_selected_year1970~2019_msa17980
input_attributes_houston

,geoid,"% white, non-Hispanic","% black, non-Hispanic",% Hispanic,% Native American race,% Asian and Pacific Islander race,% Hawaiian race,% Indian birth/race,% Chinese birth/race,% Filipino birth/race,...,Median rent,% structures more than 30 years old,% HH in neighborhood 10 years or less,"% 17 and under, total","% 60 and older, total","% 75 and older, total","% currently married, not separated","% widowed, divorced and separated",% female-headed families with children,year
0,48015760100,72.861623,15.628335,10.454076,0.422386,6.242795e-07,NaN,1.248570e-07,NaN,3.121387e-07,...,120.999964,49.246208,53.488386,29.936650,20.538535,5.807811,62.482563,15.620640,7.858558,1980
1,48015760200,65.643850,23.760818,10.149489,0.104904,2.622607e-02,0.000000,0.000000e+00,0.000000,0.000000e+00,...,132.999999,34.281843,60.110585,31.602413,18.935222,7.028586,60.816039,16.250440,10.427011,1980
2,48015760300,91.608242,1.372590,6.481295,0.403399,8.068859e-02,0.000000,8.068373e-02,0.000000,0.000000e+00,...,193.990964,30.083959,63.242237,29.585124,19.716313,6.428525,68.556156,14.402578,4.044282,1980
3,48015760400,90.352611,8.755470,0.770310,0.040538,8.106841e-02,0.000000,4.053377e-02,0.000000,0.000000e+00,...,92.001065,44.529322,48.340804,23.956266,31.495489,9.241942,68.606884,12.288632,2.580607,1980
4,48015760501,78.385327,18.769284,2.468289,0.205691,1.371272e-01,0.017141,0.000000e+00,0.068564,0.000000e+00,...,139.999996,36.989892,54.883514,25.882757,27.802538,10.078848,63.068549,18.389553,8.082027,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7479,48473680200,28.509480,17.829770,52.016942,0.110932,5.748286e-01,0.000000,0.000000e+00,0.171440,1.714401e-01,...,685.000000,56.001162,47.549020,24.213392,24.213392,3.832190,41.740211,17.476694,10.768453,2019
7480,48473680300,42.476710,29.330949,26.545591,0.000000,7.245695e-01,0.000000,0.000000e+00,0.404630,4.046297e-01,...,782.000000,55.621162,54.550675,25.708102,25.708102,6.041216,42.287203,18.231325,13.804437,2019
7481,48473680400,0.765054,91.732478,5.306022,0.123396,9.378085e-01,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000,1.011846,1.011846,0.000000,0.000000,0.468904,0.000000,2019
7482,48473680500,32.509260,33.008872,32.664312,0.275648,4.909984e-01,0.000000,0.000000e+00,0.335946,0.000000e+00,...,644.000000,44.957304,57.994987,29.614954,29.614954,3.445603,51.713948,14.929078,13.549116,2019
7483,48473680600,76.540733,0.635239,22.679149,0.000000,1.448791e-01,0.000000,0.000000e+00,0.144879,0.000000e+00,...,857.000000,32.195448,50.257353,22.879750,22.879750,4.870166,53.385562,20.131505,5.511811,2019

In [6]:
shp_houston = gpd.read_file("shp/Houston.shp") #12380, 17980
shp_houston

          GEOID10     name                                           geometry
0     48039661602  6616.02  POLYGON ((-95.26942 29.30462, -95.26997 29.304...
1     48039661502  6615.02  POLYGON ((-95.28178 29.34046, -95.28291 29.338...
2     48039660602  6606.02  POLYGON ((-95.40050 29.58197, -95.40040 29.581...
3     48039660801  6608.01  POLYGON ((-95.29027 29.55141, -95.29460 29.550...
4     48039660702  6607.02  POLYGON ((-95.36375 29.53882, -95.36370 29.538...
...           ...      ...                                                ...
1067  48157672900     6729  POLYGON ((-95.68366 29.62132, -95.68367 29.621...
1068  48157670902  6709.02  POLYGON ((-95.50113 29.53530, -95.50240 29.535...
1069  48157674602  6746.02  POLYGON ((-95.66544 29.53272, -95.66753 29.533...
1070  48157674502  6745.02  POLYGON ((-95.51008 29.50714, -95.50769 29.507...
1071  48157671001  6710.01  POLYGON ((-95.56394 29.57331, -95.56393 29.573...

[1072 rows x 3 columns]

In [7]:

param = {
	'title': "Longitudinal Neighborhood Change at Census Tracel Level, Greater Houston (Houston, The Woodlands, and Sugar Lands, TX)",
	'SubjectName': "NEIGHBORHOOD",
	'filename_suffix': "Houston_1970-2019",		   
	'inputCSV': "attributes/LTDB_1970~2019_Houston_26420.csv",   
	'shapefile': "shp/Houston.shp", 
	'years': [1980, 1990, 2000, 2010, 2019],		   # Available years: 1970, 1980, 1990, 2000, 2010, 2012, 2019
	'method': "kmeans",						  # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
												 # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
	'nClusters': 5,							  # This option should be commented out for affinity_propagation, hdbscan and max_p 
	'Sequence': {'seq_clusters': 6, 'dist_type': 'tran'},
	'variables': [
		"Median home value",
		"% in poverty, total",
         "% unemployed",       
        "% with 4-year college degree or more",  
		"% manufacturing employees",
		"% structures more than 30 years old",
 		"% HH in neighborhood 10 years or less", 
		"% owner-occupied units",
		"% multi-family units",
		"% vacant units",
		"% 60 and older, total",
		"% 17 and under, total",        
        "% white, non-Hispanic",
         "% black, non-Hispanic",         
		"% Hispanic", #
		"% Asian and Pacific Islander race", #
		"% foreign born", #
				 ],
	# optional visualization below.
	'Index_of_neighborhood_change': True,        #choropleth map: Maps representing index of neighborhood Change
	'Qualitative_Maps': True,                    #choropleth map: Maps representing clustering result		
	'Distribution_INC1': False,                   #density chart: INC changes as the map extent changes 
	'Distribution_INC2_different_period': False,  #density chart: INC changes by different years
	'Distribution_INC2_different_cluster': False, #density chart: INC changes by different clusters
	'Stacked_Chart': True,    #stacked chart: Temporal Change in Neighborhoods over years		
	'Parallel_Categories_Diagram': True,
	'Chord_Diagram': True, 
	'HeatmapTitle': "Z Score Means across Different Neighborhood Types",
	'Heatmap': True,
	'Horizontal_Bar_Title': "Z Score Means in Different Neighborhood Types ",
	'HorizonalBarChart': True,  
	}

Clustering_viz(param)

/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/scipy/cluster/hierarchy.py:834: ClusterWarning: scipy.cluster: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  return linkage(y, method='ward', metric='euclidean')

To see your visualization, Click the URL below (or locate files):
file:https://cybergisx.cigi.illinois.edu/user/suhan2/view/NAM/NAM_Houston_1970-2019/index.html
Advanced options are available in
https://cybergisx.cigi.illinois.edu/user/suhan2/edit/NAM/NAM_Houston_1970-2019/data/GEO_CONFIG_Houston_1970-2019.js

## Longitudinal Neighborhood in NY, Bronox, Kings, Queens, Richmond

In [8]:
input_attributes_ltdb = pd.read_csv("attributes/LTDB_1970~2019_NY36061 Bronx36005 Kings36047 Richmond36085 Queens36081.csv")  #LTDB_selected_year1970~2019_msa12380, LTDB_selected_year1970~2019_msa17980
input_attributes_ltdb

,geoid,"% white, non-Hispanic","% black, non-Hispanic",% Asian and Pacific Islander race,% Hawaiian race,% Indian birth/race,% Chinese birth/race,% Filipino birth/race,% Japanese birth/race,% Korean birth/race,...,"% speaking other language at home, age 5+","% speaking English not well, age 5+","Median HH income, whites","Median HH income, blacks","Median HH income, Hispanics","Median HH income, Asian/ Pacific Islanders","% in poverty, Hispanics","% in poverty, Native Americans","% in poverty, Asian/ Pacific Islanders",year
0,36061000201,83.423181,12.668464,3.144654,NaN,0.314465,2.336029,0.089847,0.404313,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970
1,36061000202,81.567236,13.833893,3.336567,0.005320,0.060480,3.017702,0.065128,0.168001,0.019936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970
2,36061000500,89.761606,5.495609,3.588457,0.025094,0.100376,0.050188,3.362610,0.050188,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970
3,36061000600,56.524874,11.643836,30.233117,NaN,0.036049,30.112954,0.048065,0.036049,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970
4,36061000700,99.911191,NaN,0.088809,NaN,NaN,0.088809,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15090,36081157902,28.336159,1.937515,55.534028,NaN,42.915960,4.068782,4.310971,0.339065,1.525793,...,NaN,NaN,108385.0,NaN,110000.0,108214.0,NaN,NaN,1.182137,2019
15091,36081157903,29.993672,3.142797,57.203122,NaN,47.163046,5.420797,0.442945,NaN,1.202278,...,NaN,NaN,52031.0,128438.0,82978.0,100338.0,NaN,NaN,4.424779,2019
15092,36081161700,35.846283,12.914742,29.525409,NaN,19.634607,6.488870,1.868963,0.650987,NaN,...,NaN,NaN,102321.0,NaN,117813.0,117317.0,9.351753,NaN,18.594748,2019
15093,36081162100,18.057520,6.317775,39.226780,NaN,22.630835,3.096024,7.920792,0.455760,NaN,...,NaN,NaN,70278.0,58091.0,76655.0,97188.0,8.333333,NaN,11.353712,2019
15094,36081990100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [9]:
shp_nyc = gpd.read_file("shp/NYC_tracts.shp") #12380, 17980
shp_nyc

          GEOID10    name                                           geometry
0     36085001700  001700  POLYGON ((-74.08508 40.63469, -74.08444 40.635...
1     36085000600  000600  POLYGON ((-74.04908 40.61483, -74.04810 40.613...
2     36085000700  000700  POLYGON ((-74.09125 40.64944, -74.09058 40.649...
3     36085001800  001800  POLYGON ((-74.04633 40.60273, -74.05487 40.588...
4     36085000300  000300  POLYGON ((-74.05623 40.63818, -74.06935 40.638...
...           ...     ...                                                ...
2160  36005018500  018500  POLYGON ((-73.90544 40.82403, -73.90573 40.823...
2161  36005020900  020900  POLYGON ((-73.91270 40.84093, -73.91334 40.841...
2162  36005022200  022200  POLYGON ((-73.85753 40.83517, -73.85565 40.835...
2163  36005023800  023800  POLYGON ((-73.85519 40.84226, -73.85546 40.842...
2164  36005037504  037504  POLYGON ((-73.89217 40.85277, -73.89167 40.853...

[2165 rows x 3 columns]

In [10]:
# NY36061 Bronx36005 Kings36047 Richmond36085 Queens36081
param = {
	'title': "Longitudinal Neighborhood Change(tract level), NY, Bronox, Kings, Queens, Richmond",
	'SubjectName': "NEIGHBORHOOD",
	'filename_suffix': "NYC_1970-2019",		   
	'inputCSV': "attributes/LTDB_1970~2019_NY36061 Bronx36005 Kings36047 Richmond36085 Queens36081.csv",   
	'shapefile': "shp/NYC_tracts.shp", 
	'years': [1980, 1990, 2000, 2010, 2019],		   # Available years: 1970, 1980, 1990, 2000, 2010, 2012, 2019
	'method': "kmeans",						  # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
												 # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
	'nClusters': 5,							  # This option should be commented out for affinity_propagation, hdbscan and max_p 
	'Sequence': {'seq_clusters': 5, 'dist_type': 'tran'},
	'variables': [
		"Median home value",
		"% in poverty, total",
         "% unemployed",       
        "% with 4-year college degree or more",  
		"% manufacturing employees",
		"% structures more than 30 years old",
 		"% HH in neighborhood 10 years or less", 
		"% owner-occupied units",
		"% multi-family units",
		"% vacant units",
		"% 60 and older, total",
		"% 17 and under, total",        
        "% white, non-Hispanic",
         "% black, non-Hispanic",         
		"% Hispanic", #
		"% Asian and Pacific Islander race", #
		"% foreign born", #
				 ],
	# optional visualization below.
	'Index_of_neighborhood_change': True,        #choropleth map: Maps representing index of neighborhood Change
	'Qualitative_Maps': True,                    #choropleth map: Maps representing clustering result		
	'Distribution_INC1': False,                   #density chart: INC changes as the map extent changes 
	'Distribution_INC2_different_period': False,  #density chart: INC changes by different years
	'Distribution_INC2_different_cluster': False, #density chart: INC changes by different clusters
	'Stacked_Chart': True,    #stacked chart: Temporal Change in Neighborhoods over years		
	'Parallel_Categories_Diagram': True,
	'Chord_Diagram': True, 
	'HeatmapTitle': "Z Score Means across Different Neighborhood Types",
	'Heatmap': True,
	'Horizontal_Bar_Title': "Z Score Means in Different Neighborhood Types ",
	'HorizonalBarChart': True,  
	}

Clustering_viz(param)

/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/scipy/cluster/hierarchy.py:834: ClusterWarning: scipy.cluster: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  return linkage(y, method='ward', metric='euclidean')

To see your visualization, Click the URL below (or locate files):
file:https://cybergisx.cigi.illinois.edu/user/suhan2/view/NAM/NAM_NYC_1970-2019/index.html
Advanced options are available in
https://cybergisx.cigi.illinois.edu/user/suhan2/edit/NAM/NAM_NYC_1970-2019/data/GEO_CONFIG_NYC_1970-2019.js

# Chicago Neighborhood

In [11]:
input_attributes_ltdb = pd.read_csv("attributes/LTDB_1970~2019_Chicago_16980.csv")  #LTDB_selected_year1970~2019_msa12380, LTDB_selected_year1970~2019_msa17980
input_attributes_ltdb

,geoid,"% white, non-Hispanic","% black, non-Hispanic",% Hispanic,% Native American race,% Asian and Pacific Islander race,% Hawaiian race,% Indian birth/race,% Chinese birth/race,% Filipino birth/race,...,Median rent,% structures more than 30 years old,% HH in neighborhood 10 years or less,"% 17 and under, total","% 60 and older, total","% 75 and older, total","% currently married, not separated","% widowed, divorced and separated",% female-headed families with children,year
0,17031010100,33.428434,29.529244,26.913933,0.126803,4.739261,0.031701,0.602314,1.505785,0.665716,...,213.000005,74.319330,90.293896,26.200666,7.830084,2.979870,38.935520,16.704197,19.555215,1980
1,17031010201,71.757145,8.804254,11.561766,0.148386,6.974156,0.037097,1.842463,0.667738,2.609126,...,250.000008,67.002517,76.703182,17.274639,20.217632,7.975763,42.352258,21.509270,9.949410,1980
2,17031010202,71.757141,8.804254,11.561766,0.148386,6.974156,0.037097,1.842463,0.667738,2.609126,...,249.999998,67.002517,76.703180,17.274638,20.217634,7.975763,42.352260,21.509270,9.949410,1980
3,17031010300,75.023183,6.491499,9.551777,0.401855,7.156105,0.000000,1.545595,1.236476,2.364760,...,247.000002,68.413218,83.430233,10.788253,27.109737,13.446677,33.265375,25.212368,10.327456,1980
4,17031010400,86.820428,4.839374,4.386326,0.205931,2.471170,0.020593,0.597199,0.494234,0.329489,...,250.000001,68.133728,78.571429,7.372323,18.533773,6.425041,23.575811,15.600351,9.347181,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15388,55059002905,91.279815,0.538600,7.053091,0.000000,0.384714,0.000000,0.000000,0.538600,0.000000,...,883.000000,71.404110,37.540664,22.723775,22.723775,3.308541,52.669372,18.357790,12.312312,2019
15389,55059002906,88.599412,2.233105,6.268364,0.000000,1.469148,0.000000,1.390793,0.000000,0.000000,...,884.000000,47.781744,38.095238,25.857003,25.857003,4.368266,54.500372,12.670469,2.818991,2019
15390,55059003001,95.576835,0.022800,3.921569,0.000000,0.296398,0.000000,0.000000,0.000000,0.296398,...,991.000000,64.738646,35.838150,20.428637,20.428637,4.286366,53.681646,18.678939,6.677796,2019
15391,55059003002,91.013500,0.523877,7.797703,0.000000,0.080596,0.000000,0.020149,0.000000,0.000000,...,755.000000,66.080915,48.045267,23.876687,23.876687,7.737256,54.287114,16.829985,10.339734,2019
15392,55059990000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [12]:
shp_msa = gpd.read_file("shp/Cook_County_Tract.shp") #12380, 17980
shp_msa

          GEOID10                                           geometry
0     17031010300  POLYGON ((-87.67133 42.01937, -87.67121 42.019...
1     17031010400  POLYGON ((-87.66345 42.01283, -87.66321 42.012...
2     17031010600  POLYGON ((-87.67059 42.00537, -87.67046 42.005...
3     17031020100  POLYGON ((-87.69024 42.01265, -87.69024 42.012...
4     17031280800  POLYGON ((-87.69151 41.88111, -87.69147 41.881...
...           ...                                                ...
1313  17031823901  POLYGON ((-87.85680 41.67987, -87.85676 41.680...
1314  17031826800  POLYGON ((-87.67975 41.64819, -87.67910 41.648...
1315  17031710300  POLYGON ((-87.66361 41.75768, -87.66330 41.757...
1316  17031828506  POLYGON ((-87.55864 41.54282, -87.55850 41.542...
1317  17031825600  POLYGON ((-87.72777 41.58756, -87.72765 41.587...

[1318 rows x 2 columns]

In [13]:
# LA 31080, San Diego 41740, Albertville 10700, NY 35620
param = {
	'title': "Longitudinal Neighborhood Change, Cook County (tract level)",
	'SubjectName': "NEIGHBORHOOD",
	'filename_suffix': "Cook_County",		   
	'inputCSV': "attributes/LTDB_1970~2019_Chicago_16980.csv",   
	'shapefile': "shp/Cook_County_Tract.shp", 
	'years': [1990, 2000, 2010, 2019],		   # Available years: 1970, 1980, 1990, 2000, 2010, 2012, 2019
	'method': "kmeans",						  # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
												 # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
	'nClusters': 5,							  # This option should be commented out for affinity_propagation, hdbscan and max_p 
	'Sequence': {'seq_clusters': 6, 'dist_type': 'tran'}, # arbitrary, hamming, tran
	'variables': [
		"Median home value",
		"% in poverty, total",
         "% unemployed",       
        "% with 4-year college degree or more",  
		"% manufacturing employees",
		"% structures more than 30 years old",
 		"% HH in neighborhood 10 years or less", 
		"% owner-occupied units",
		"% multi-family units",
		"% vacant units",
		"% 60 and older, total",
		"% 17 and under, total",        
        "% white, non-Hispanic",
         "% black, non-Hispanic",         
		"% Hispanic", #
		"% Asian and Pacific Islander race", #
		"% foreign born", #  
				 ],
	# optional visualization below.
    #'Initial_map_center':[41.8, -87.81],
    #'Initial_map_zoom_level':9,
	'Index_of_neighborhood_change': True,        #choropleth map: Maps representing index of neighborhood Change
	'Qualitative_Maps': True,                    #choropleth map: Maps representing clustering result		
	'Distribution_INC1': False,                   #density chart: INC changes as the map extent changes 
	'Distribution_INC2_different_period': False,  #density chart: INC changes by different years
	'Distribution_INC2_different_cluster': False, #density chart: INC changes by different clusters
	'Stacked_Chart': True,    #stacked chart: Temporal Change in Neighborhoods over years		
	'Parallel_Categories_Diagram': True,
	'Chord_Diagram': True, 
	'HeatmapTitle': "Z Score Means across Different Neighborhood Types",
	'Heatmap': True,
	'Horizontal_Bar_Title': "Z Score Means in Different Neighborhood Types ",
	'HorizonalBarChart': True,  
	}

Clustering_viz(param)

/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/cvmfs/cybergis.illinois.edu/software/conda/cybergisx/python3-0.9.4/lib/python3.8/site-packages/scipy/cluster/hierarchy.py:834: ClusterWarning: scipy.cluster: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  return linkage(y, method='ward', metric='euclidean')

To see your visualization, Click the URL below (or locate files):
file:https://cybergisx.cigi.illinois.edu/user/suhan2/view/NAM/NAM_Cook_County/index.html
Advanced options are available in
https://cybergisx.cigi.illinois.edu/user/suhan2/edit/NAM/NAM_Cook_County/data/GEO_CONFIG_Cook_County.js

# Austin Neighborhood

In [14]:
input_attributes_Austin = pd.read_csv("attributes/LTDB_1970~2019_Austin_12420.csv", dtype={'geoid':str})  #LTDB_selected_year1970~2019_msa12380, LTDB_selected_year1970~2019_msa17980
input_attributes_Austin = input_attributes_Austin.rename(columns={'tractid': 'geoid'})
#input_attributes_ltdb.to_csv("LTDB_1970~2019_Austin_12420_v2.csv")
input_attributes_Austin

FileNotFoundError: [Errno 2] No such file or directory: 'attributes/LTDB_1970~2019_Austin_12420.csv'

In [ ]:
shp_Austin = gpd.read_file("shp/Austin.shp") #12380, 17980
#shp_msa = shp_msa.rename(columns={'GEOID10': 'geoid'})
shp_Austin

In [ ]:
param_Austin1 = {
	'title': "Longitudinal Neighborhood Change, Austin (tract level)",
	'SubjectName': "NEIGHBORHOOD",
	'filename_suffix': "LTDB_1970~2019_Austin_12420",		   
	'inputCSV': "attributes/LTDB_1970~2019_Austin_12420.csv",   
	'shapefile': "shp/Austin.shp", 
	#'shapefile': "shp/Austin.shp",     
	'years': [1990, 2000, 2010, 2019],		   # Available years: 1970, 1980, 1990, 2000, 2010, 2012, 2019
	'method': "kmeans",						  # Aspatial Clustering: affinity_propagation, gaussian_mixture, hdbscan, kmeans, spectral, ward
												 # Spatial Clustering: azp, max_p, skater, spenc, ward_spatial   
	'nClusters': 6,							  # This option should be commented out for affinity_propagation, hdbscan and max_p 
	'Sequence': {'seq_clusters': 5, 'dist_type': 'tran'},
	'variables': [
		"Median home value",
		"% in poverty, total",
         "% unemployed",       
        "% with 4-year college degree or more",  
		"% manufacturing employees",
		"% structures more than 30 years old",
 		"% HH in neighborhood 10 years or less", 
		"% owner-occupied units",
		"% multi-family units",
		"% vacant units",
		"% 60 and older, total",
		"% 17 and under, total",        
        "% white, non-Hispanic",
         "% black, non-Hispanic",         
		"% Hispanic", #
		"% Asian and Pacific Islander race", #
		"% foreign born", #  
				 ],
# optional visualization below.
'Index_of_neighborhood_change': True,        #choropleth map: Maps representing index of neighborhood Change
#'Qualitative_Maps': True,                    #choropleth map: Maps representing clustering result		
#'Distribution_INC1': True,                   #density chart: INC changes as the map extent changes 
#'Distribution_INC2_different_period': True,  #density chart: INC changes by different years
#'Distribution_INC2_different_cluster': True, #density chart: INC changes by different clusters
'Stacked_Chart': True,    #stacked chart: Temporal Change in Neighborhoods over years		
'Parallel_Categories_Diagram': True,
#'Chord_Diagram': True, 
'HeatmapTitle': "Z Score Means across Different Neighborhood Types",
'Heatmap': True,
#'Horizontal_Bar_Title': "Z Score Means in Different Neighborhood Types ",
#'HorizonalBarChart': True,  
}
Clustering_viz(param_Austin1)